# Virtual Environment
myenv/
venv/

# Cache files
__pycache__/
.pytest_cache/

# Data outside the src folder
/data

# Experimental file
experimental_file.py

# Checkpoints
checkpoints/

# .pth files
*.pth